In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv("train.csv")
# dataset

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Columns: 1051 entries, target to F1050
dtypes: int64(1051)
memory usage: 400.9 MB

In [4]:
dataset.describe()

,target,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F1041,F1042,F1043,F1044,F1045,F1046,F1047,F1048,F1049,F1050
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,...,50000.000000,50000.000000,50000.0000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,2.750080,1.999640,1.999600,2.000260,2.000460,2.000240,2.000380,1.999140,2.000340,1.998820,...,2.000140,1.998580,1.9993,2.002080,2.000080,1.998120,1.998240,1.998460,1.999960,1.999380
std,0.993418,1.414737,1.414624,1.415069,1.414489,1.414129,1.414617,1.414588,1.414433,1.414192,...,1.414984,1.414036,1.4148,1.414283,1.414892,1.414241,1.414113,1.414559,1.414567,1.414899
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.0000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.0000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
75%,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,...,3.000000,3.000000,3.0000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
max,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,4.000000,4.000000,4.0000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000

In [5]:
# plt.figure(figsize = (16,16))
# sns.heatmap(dataset.corr(), annot = True)

In [6]:
df = pd.read_csv("test.csv")
df

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F1041,F1042,F1043,F1044,F1045,F1046,F1047,F1048,F1049,F1050
0,ucs654-1,0,3,2,1,2,3,2,3,0,...,0,0,4,4,0,3,0,1,3,1
1,ucs654-2,2,4,1,4,4,1,4,4,4,...,2,4,4,4,3,3,4,1,0,3
2,ucs654-3,3,3,4,3,1,4,0,2,3,...,2,3,2,1,2,0,0,0,4,0
3,ucs654-4,4,3,1,0,0,3,1,3,2,...,2,1,2,1,2,1,0,2,4,2
4,ucs654-5,2,1,4,0,3,0,4,4,2,...,3,3,1,4,3,3,4,3,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,ucs654-49996,3,2,2,3,4,0,4,0,4,...,3,2,1,2,2,1,0,0,2,0
49996,ucs654-49997,3,3,1,3,0,2,0,1,4,...,2,3,4,3,1,1,0,2,4,3
49997,ucs654-49998,4,4,0,4,0,4,0,2,3,...,2,3,3,4,0,3,1,2,3,0
49998,ucs654-49999,2,2,2,2,2,1,0,1,1,...,1,0,0,1,3,1,0,1,4,1
49999,ucs654-50000,3,3,2,3,3,0,3,1,2,...,0,3,1,2,0,0,3,2,1,4

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Columns: 1051 entries, id to F1050
dtypes: int64(1050), object(1)
memory usage: 400.9+ MB

In [8]:
X_train = dataset.iloc[:,1:].values
Y_train = dataset.iloc[:,0].values

In [9]:
X_test = dataset.iloc[:,1:].values
Y_test = dataset.iloc[:,0].values

In [13]:
X_test

array([[4, 2, 4, ..., 4, 1, 0],
       [2, 4, 1, ..., 2, 4, 3],
       [2, 1, 3, ..., 3, 3, 4],
       ...,
       [2, 4, 3, ..., 2, 4, 2],
       [3, 1, 0, ..., 3, 3, 1],
       [2, 4, 0, ..., 0, 4, 0]], dtype=int64)

In [10]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state=0)
classifier.fit(X_train, Y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

In [11]:
np.any(np.isnan(dataset))

False

In [12]:
Y_pred = classifier.predict(X_test)