In [33]:
import sklearn
from sklearn import datasets
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.utils import class_weight
import pandas as pd
# check version number
import imblearn
print(imblearn.__version__)

0.10.1

In [34]:
df = pd.read_csv('train.csv')
X = df.drop('target', axis=1)
y = df['target']

In [35]:
# print(X)

print(y)

0        2
1        4
2        3
3        4
4        4
        ..
49995    3
49996    3
49997    3
49998    3
49999    0
Name: target, Length: 50000, dtype: int64

In [36]:
# from sklearn.datasets import load_iris
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
import numpy as np

# Load the Iris dataset
# iris = load_iris()
# X, y = iris.data, iris.target

# Create an instance of SelectKBest
selector = SelectKBest(f_classif, k=200)

# Fit the selector to the data
selector.fit(X, y)

# Get the selected features
mask = selector.get_support()
# mask = np.where(mask)[0]

print(len(mask))


# Create a new dataset with only the selected features
X_new = X.iloc[:, mask]
print(X_new)


# Print the selected features
# print(iris.feature_names[mask])

1050
       F1  F6  F10  F12  F13  F15  F17  F35  F45  F46  ...  F1015  F1017  \
0       4   0    0    4    0    0    0    1    0    0  ...      0      0
1       2   3    2    1    4    3    3    3    4    4  ...      3      3
2       2   0    2    0    3    2    1    1    1    1  ...      1      0
3       4   4    3    4    0    1    0    1    1    2  ...      1      0
4       4   0    0    3    2    3    3    0    0    3  ...      0      1
...    ..  ..  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...    ...
49995   4   3    0    4    4    4    4    3    1    0  ...      0      1
49996   3   2    1    3    4    3    2    1    4    4  ...      0      1
49997   2   3    3    1    4    4    4    3    4    4  ...      3      3
49998   3   0    4    1    2    2    2    3    2    3  ...      4      4
49999   2   2    0    4    4    4    4    0    3    4  ...      2      3

       F1018  F1019  F1022  F1023  F1024  F1030  F1042  F1049
0          0      0      0      0      0      0      4      1
1          3      1      2      1      2      0      0      4
2          1      1      2      3      3      4      2      3
3          1      0      3      1      2      3      1      0
4          1      0      0      0      0      3      4      2
...      ...    ...    ...    ...    ...    ...    ...    ...
49995      1      0      0      0      0      4      0      3
49996      0      3      1      1      1      3      0      0
49997      3      1      2      3      3      0      0      4
49998      4      4      4      4      4      4      0      3
49999      3      1      1      0      0      3      3      4

[50000 rows x 200 columns]

In [37]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [38]:
# from imblearn.over_sampling import SMOTE

# # create the SMOTE object
# sm = SMOTE(sampling_strategy='auto', random_state=42)

# # apply SMOTE to the training data
# X_res, y_res = sm.fit_resample(X, y)

In [39]:
# from imblearn.under_sampling import RandomUnderSampler
# undersample = RandomUnderSampler(sampling_strategy='auto')

# # Apply undersampling
# X_res, y_res = undersample.fit_resample(X, y)

In [40]:
from imblearn.under_sampling import TomekLinks

# Initialize the TomekLinks object
tl = TomekLinks()
X_res, y_res = tl.fit_resample(X, y)

In [41]:
print(X_new)

       F1  F6  F10  F12  F13  F15  F17  F35  F45  F46  ...  F1015  F1017  \
0       4   0    0    4    0    0    0    1    0    0  ...      0      0
1       2   3    2    1    4    3    3    3    4    4  ...      3      3
2       2   0    2    0    3    2    1    1    1    1  ...      1      0
3       4   4    3    4    0    1    0    1    1    2  ...      1      0
4       4   0    0    3    2    3    3    0    0    3  ...      0      1
...    ..  ..  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...    ...
49995   4   3    0    4    4    4    4    3    1    0  ...      0      1
49996   3   2    1    3    4    3    2    1    4    4  ...      0      1
49997   2   3    3    1    4    4    4    3    4    4  ...      3      3
49998   3   0    4    1    2    2    2    3    2    3  ...      4      4
49999   2   2    0    4    4    4    4    0    3    4  ...      2      3

       F1018  F1019  F1022  F1023  F1024  F1030  F1042  F1049
0          0      0      0      0      0      0      4      1
1          3      1      2      1      2      0      0      4
2          1      1      2      3      3      4      2      3
3          1      0      3      1      2      3      1      0
4          1      0      0      0      0      3      4      2
...      ...    ...    ...    ...    ...    ...    ...    ...
49995      1      0      0      0      0      4      0      3
49996      0      3      1      1      1      3      0      0
49997      3      1      2      3      3      0      0      4
49998      4      4      4      4      4      4      0      3
49999      3      1      1      0      0      3      3      4

[50000 rows x 200 columns]

In [42]:

# Generate and plot a synthetic imbalanced classification dataset
from collections import Counter
from sklearn.datasets import make_classification
from matplotlib import pyplot
from numpy import where

counter = Counter(y)
print(counter)
# # scatter plot of examples by class label
# for label, _ in counter.items():
#     row_ix = where(y == label)[0]
# pyplot.scatter(X[row_ix, 0], X[row_ix, 1], label=str(label))
# pyplot.legend()
# pyplot.show()

Counter({3: 25003, 2: 10008, 4: 9996, 0: 2498, 1: 2495})

In [43]:
X_new.describe()

,F1,F6,F10,F12,F13,F15,F17,F35,F45,F46,...,F1015,F1017,F1018,F1019,F1022,F1023,F1024,F1030,F1042,F1049
count,50000.000000,50000.000000,50000.000000,50000.00000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,...,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,1.999640,2.000380,1.998260,1.99988,2.000720,2.000080,2.000340,2.001020,1.999860,1.999720,...,1.999780,2.001420,2.001060,1.999820,1.998840,1.997900,1.998660,2.000640,1.998580,1.999960
std,1.414737,1.414617,1.414347,1.41444,1.414765,1.414624,1.414404,1.414913,1.414716,1.414991,...,1.414984,1.414687,1.414659,1.414461,1.413831,1.414063,1.414361,1.414807,1.414036,1.414567
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
75%,3.000000,3.000000,3.000000,3.00000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
max,4.000000,4.000000,4.000000,4.00000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000

In [44]:
# from sklearn.ensemble import RandomForestClassifier

# # create the random forest object
# rf = RandomForestClassifier(n_estimators=10000, random_state=47)

# # train the random forest on the resampled data
# rf.fit(X_new, y)

In [45]:
# Solving using extra tree classifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.model_selection import train_test_split
clf = ExtraTreesClassifier(n_estimators=1000, criterion='entropy')
clf.fit(X_new, y)

In [ ]:
df1 = pd.read_csv('test.csv')
X_test = df1.drop('id', axis=1)
y_test = df1['id']

In [ ]:
print(df1)

                 id  F1  F2  F3  F4  F5  F6  F7  F8  F9  ...  F1041  F1042  \
0          ucs654-1   0   3   2   1   2   3   2   3   0  ...      0      0
1          ucs654-2   2   4   1   4   4   1   4   4   4  ...      2      4
2          ucs654-3   3   3   4   3   1   4   0   2   3  ...      2      3
3          ucs654-4   4   3   1   0   0   3   1   3   2  ...      2      1
4          ucs654-5   2   1   4   0   3   0   4   4   2  ...      3      3
...             ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...    ...    ...
49995  ucs654-49996   3   2   2   3   4   0   4   0   4  ...      3      2
49996  ucs654-49997   3   3   1   3   0   2   0   1   4  ...      2      3
49997  ucs654-49998   4   4   0   4   0   4   0   2   3  ...      2      3
49998  ucs654-49999   2   2   2   2   2   1   0   1   1  ...      1      0
49999  ucs654-50000   3   3   2   3   3   0   3   1   2  ...      0      3

       F1043  F1044  F1045  F1046  F1047  F1048  F1049  F1050
0          4      4      0      3      0      1      3      1
1          4      4      3      3      4      1      0      3
2          2      1      2      0      0      0      4      0
3          2      1      2      1      0      2      4      2
4          1      4      3      3      4      3      0      1
...      ...    ...    ...    ...    ...    ...    ...    ...
49995      1      2      2      1      0      0      2      0
49996      4      3      1      1      0      2      4      3
49997      3      4      0      3      1      2      3      0
49998      0      1      3      1      0      1      4      1
49999      1      2      0      0      3      2      1      4

[50000 rows x 1051 columns]

In [ ]:
print(X_test)
X_test_new = X_test.iloc[:, mask]

       F1  F2  F3  F4  F5  F6  F7  F8  F9  F10  ...  F1041  F1042  F1043  \
0       0   3   2   1   2   3   2   3   0    2  ...      0      0      4
1       2   4   1   4   4   1   4   4   4    0  ...      2      4      4
2       3   3   4   3   1   4   0   2   3    4  ...      2      3      2
3       4   3   1   0   0   3   1   3   2    2  ...      2      1      2
4       2   1   4   0   3   0   4   4   2    3  ...      3      3      1
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...    ...    ...    ...
49995   3   2   2   3   4   0   4   0   4    1  ...      3      2      1
49996   3   3   1   3   0   2   0   1   4    1  ...      2      3      4
49997   4   4   0   4   0   4   0   2   3    2  ...      2      3      3
49998   2   2   2   2   2   1   0   1   1    1  ...      1      0      0
49999   3   3   2   3   3   0   3   1   2    1  ...      0      3      1

       F1044  F1045  F1046  F1047  F1048  F1049  F1050
0          4      0      3      0      1      3      1
1          4      3      3      4      1      0      3
2          1      2      0      0      0      4      0
3          1      2      1      0      2      4      2
4          4      3      3      4      3      0      1
...      ...    ...    ...    ...    ...    ...    ...
49995      2      2      1      0      0      2      0
49996      3      1      1      0      2      4      3
49997      4      0      3      1      2      3      0
49998      1      3      1      0      1      4      1
49999      2      0      0      3      2      1      4

[50000 rows x 1050 columns]
       F10  F12  F13  F64  F65  F144  F145  F146  F148  F151  ...  F991  \
0        2    1    4    2    1     3     3     4     4     1  ...     1
1        0    4    1    3    2     1     0     0     3     2  ...     2
2        4    0    0    1    1     3     2     1     3     0  ...     0
3        2    0    1    1    1     2     2     0     3     0  ...     0
4        3    4    1    4    3     1     0     1     0     3  ...     2
...    ...  ...  ...  ...  ...   ...   ...   ...   ...   ...  ...   ...
49995    1    0    3    0    3     3     2     3     2     3  ...     4
49996    1    2    2    2    0     1     3     2     4     0  ...     0
49997    2    1    2    0    0     2     3     0     4     0  ...     0
49998    1    0    4    0    0     2     4     4     4     0  ...     0
49999    1    1    0    3    1     0     0     1     3     1  ...     3

       F1002  F1007  F1012  F1018  F1022  F1023  F1024  F1042  F1049
0          4      2      1      2      1      2      2      0      3
1          0      3      3      1      2      3      3      4      0
2          1      1      4      4      4      1      3      3      4
3          2      4      2      2      3      2      3      1      4
4          0      3      0      0      3      4      3      3      0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...
49995      4      1      2      1      1      0      1      2      2
49996      3      3      2      2      0      0      0      3      4
49997      2      3      3      3      2      2      2      3      3
49998      4      3      4      4      1      0      1      0      4
49999      2      1      3      3      2      3      2      3      1

[50000 rows x 100 columns]

In [ ]:
print(X_test_new)

       F10  F12  F13  F64  F65  F144  F145  F146  F148  F151  ...  F991  \
0        2    1    4    2    1     3     3     4     4     1  ...     1
1        0    4    1    3    2     1     0     0     3     2  ...     2
2        4    0    0    1    1     3     2     1     3     0  ...     0
3        2    0    1    1    1     2     2     0     3     0  ...     0
4        3    4    1    4    3     1     0     1     0     3  ...     2
...    ...  ...  ...  ...  ...   ...   ...   ...   ...   ...  ...   ...
49995    1    0    3    0    3     3     2     3     2     3  ...     4
49996    1    2    2    2    0     1     3     2     4     0  ...     0
49997    2    1    2    0    0     2     3     0     4     0  ...     0
49998    1    0    4    0    0     2     4     4     4     0  ...     0
49999    1    1    0    3    1     0     0     1     3     1  ...     3

       F1002  F1007  F1012  F1018  F1022  F1023  F1024  F1042  F1049
0          4      2      1      2      1      2      2      0      3
1          0      3      3      1      2      3      3      4      0
2          1      1      4      4      4      1      3      3      4
3          2      4      2      2      3      2      3      1      4
4          0      3      0      0      3      4      3      3      0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...
49995      4      1      2      1      1      0      1      2      2
49996      3      3      2      2      0      0      0      3      4
49997      2      3      3      3      2      2      2      3      3
49998      4      3      4      4      1      0      1      0      4
49999      2      1      3      3      2      3      2      3      1

[50000 rows x 100 columns]

In [ ]:
y_pred = clf.predict(X_test_new)

In [ ]:
# pred = pd.DataFrame(y_pred,columns="target")
# sub = pd.concat([X_test.id,pred],axis=1)
# sub.set_index('id',inplace=True)
# sub.to_csv(f"Submission_file_JatinGoyal.csv")

df1["target"] = y_pred

to_submit = df1[['id',"target"]]

to_submit.to_csv("submission_200dim_extraTrees.csv", index = False)